.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 20rem;
    height: 20rem;
    border-radius: 10px
    
}

body {
    background-color: antiquewhite
}

a {
    padding: 2rem;
    text-decoration: none;
}

.padding {
    padding: 2rem;
}

.margin {
    margin: 5rem;
}